.rc-container {
  position: relative;
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  isolation: isolate;

  touch-action: none;
}

.rc-phone-frame {
  position: relative;
  z-index: 20;
  display: block;
  pointer-events: none;
  user-select: none;
}

.rc-phone-frame-portrait {
  height: 100%;
}

.rc-phone-frame-landscape {
  width: 100%;
}

.rc-video {
  position: absolute;
  width: auto;
  outline: none;
  pointer-events: none;
  cursor: none;
  background-color: black;
}

.rc-video-frameless {
  position: relative;
  height: 100%;
  top: auto;
  left: auto;
}

.rc-video-loading {
  aspect-ratio: 9 / 19.5;
}

.rc-video-ios-portrait {
  top: 1.61%;
  left: 3.9%;
  height: 96.78%;
}

.rc-video-ios-landscape {
  top: 3.9%;
  left: 1.61%;
  width: 96.78%;
}

.rc-video-android-portrait {
  top: 2.25%;
  left: 4.5%;
  height: 95.9%;
}

.rc-video-android-landscape {
  left: 2.25%;
  top: 4.5%;
  width: 95.9%;
}