.rc-container {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  isolation: isolate;

  touch-action: none;
}

.rc-container-portrait {
  height: 100%;
}

.rc-container-landscape {
  width: 100%;
}

.rc-phone-frame {
  position: relative;
  z-index: 20;
  display: block;
  pointer-events: none;
  user-select: none;
}

.rc-phone-frame-portrait {
  height: 100%;
  max-width: 100%;
}

.rc-phone-frame-landscape {
  width: 100%;
  max-height: 100%;
}

.rc-video {
  position: absolute;
  width: auto;
  outline: none;
  pointer-events: none;
  cursor: none;
  background-color: black;
}

.rc-video-frameless {
  position: relative;
  height: 100%;
  top: auto;
  left: auto;
}

.rc-video-loading {
  aspect-ratio: 9 / 19.5;
}