.rc-container {
  position: relative;
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  isolation: isolate;

  touch-action: none;
}

.rc-phone-frame {
  position: relative;
  z-index: 20;
  display: block;
  height: 100%;
  pointer-events: none;
  user-select: none;
  border-radius: 16.8% / 8.7%;
}

.rc-video {
  position: absolute;
  width: auto;
  outline: none;
  pointer-events: none;
  cursor: none;
  background-color: black;
}

.rc-video-loading {
  aspect-ratio: 9 / 19.5;
}

.rc-video-ios {
  top: 1.6%;
  left: 3.9%;
  height: 96.76%;
}

.rc-video-android {
  top: 2.3%;
  left: 4.5%;
  height: 95.9%;
}
