.rc-container {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  isolation: isolate;

  touch-action: none;
}

.rc-container-portrait {
  height: 100%;
}

.rc-container-landscape {
  width: 100%;
}

.rc-phone-frame {
  position: relative;
  z-index: 20;
  display: block;
  pointer-events: none;
  user-select: none;
}

.rc-phone-frame-portrait {
  height: 100%;
  max-width: 100%;
}

.rc-phone-frame-landscape {
  width: 100%;
  max-height: 100%;
}

.rc-video {
  position: absolute;
  /* Size is controlled by inline style; defaults are for frameless mode */
  width: 100%;
  height: 100%;
  outline: none;
  pointer-events: none;
  cursor: none;
  background-color: black;
  object-fit: contain;
  object-position: center center;
  inset: 0;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: auto;
  bottom: auto;
}

.rc-video-ios-stretch {
  /* iOS-only: intentionally stretch to fill the target screen box */
  object-fit: fill;
  z-index: 30;
}

.rc-video-frameless {
  position: relative;
  height: 100%;
  top: auto;
  left: auto;
  width: 100%;
}

.rc-video-loading {
  aspect-ratio: 9 / 19.5;
}