.rc-container {
  position: relative;
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  isolation: isolate;

  touch-action: none;

  --rc-spinner-color: #3b82f6;
  --rc-text-muted: #6b7280;
}

.rc-phone-frame {
  display: block;
  height: 100%;
  pointer-events: none;
  user-select: none;
  background-color: black;
  border-radius: 16.8% / 8.7%;
}

.rc-video {
  position: absolute;
  z-index: 10;
  top: 1.6%;
  left: 3.9%;
  height: 96.8%;
  width: auto;
  outline: none;
  pointer-events: none;
  cursor: none;
}

.rc-apple-logo {
  width: 20%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
